*, body {
    margin: 0;
    padding: 0;
}


::selection {
    background-color: #3fc979;
    color: #FFFFFF;
}

::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-thumb {
    background-color: #3fc979;
    outline: 0;
}


#sidenav::selection {
    background-color: #3fc979;
    color: #FFFFFF;
}

#sidenav::-webkit-scrollbar {
    width: 5px;
}
  
#sidenav::-webkit-scrollbar-thumb {
    background-color: #3fc979;
    outline: 0;
}